[Unit]
Description=FRP Server Daemon
After=network.target
StartLimitIntervalSec=0

[Service]
Type=simple
Restart=always
RestartSec=10
ExecStart=/usr/local/bin/frps -c /usr/local/etc/frp/frps.toml

[Install]
WantedBy=default.target